body {
  margin: 0;
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .07em;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  overflow-x: hidden;

  background: linear-gradient(223deg, #4dcf94, #77a3e8, #aa8cf9, #d782c5);
  background-size: 800% 800%;

  -webkit-animation: bgscroll 31s ease infinite;
  -moz-animation: bgscroll 31s ease infinite;
  animation: bgscroll 31s ease infinite;
}

@-webkit-keyframes bgscroll {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgscroll {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgscroll {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

header,
main,
footer {
  .col-half {
    width: 50%;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  min-height: 20vh;
  justify-content: flex-end;

  h1 {
    font-weight: 100;
    font-size: 3em;
    padding: 0 1em;
    text-align: center;
  }

  p {
    max-width: 50ch;
    padding: 0 1em;
    margin: 0 auto 1.75em;
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  }
}

main {
  min-height: 75vh;
}

footer {
  min-height: 5vh;
}

#card {
  max-width: 400px;
  width: 90%;
  background: rgba(255, 255, 255,0.2);
  border-radius: 10px;

  #card-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    .dropdown-select {
      width: auto;
      background: transparent;
      border: 0;
      padding: 5px;
      text-align: center;
      color: #fff;
      font-size: 1.35em;
      letter-spacing: .05em;
      font-family: 'Roboto';
      font-weight: 300;

      option {
        background: #777;
        font-size: .75em;
      }

      &:focus-visible {
        outline: 0;
      }
    }
    
    .date {
      margin: 1em;
      font-weight: 300;
      font-size: 1.15em;
    }
  }

  #weather-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;

    > div {
      text-align: center;

      h4 {
        font-size: 1.5em;
        font-weight: 100;
        margin: 0 auto .15em;
      }

      .time {
        height: 20px;
      }

      h2 {
        font-size: 4em;
        font-weight: 100;
        margin: .25em auto;
        padding-left: .3em;
      }

      .weather-icon img {
        max-width: 70%;
      }

      .weather-status {
        text-align: center;
        text-transform: uppercase;
        margin-top: .5em;
        font-weight: 100;
      }
    }
  }

  #to-do {
    background-color: rgba(255, 255, 255, .9);
    color: #777;
    text-shadow: none;

    .list-row {
      display: flex;
      align-items: center;
      padding: 1em .5em;
      border-bottom: 1px solid #cecece;

      .col-action {
        width: 48px;
        text-align: center;
        font-size: .9em;

        .fa-circle {
          color: rgba(0, 0, 0, .3);

          &:hover {
            color: rgba(6, 184, 130, 1);
            cursor: pointer;
            transition: all ease-in .2s;
          }
        }

        .fa-trash-can {
          color: rgba(238, 75, 75, .5);

          &:hover {
            color: rgba(238, 75, 75, 1);
            cursor: pointer;
            transition: all ease-in .2s;
          }
        }
      }

      .col-text {
        width: 100%;
        padding: 0 .5em;
        font-size: 1.1em;
      }

      .done {
        text-decoration: line-through;
        color: rgba(119, 119, 119, .5)
      }
    }
  }

  #add-to-do {
    form {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1em 0;

      input,
      button {
        border: 0;
        border-radius: 0;
      }

      input {
        margin: 0;
        width: 73%;
        padding: 1em;
        font-size: 1.1em;
        letter-spacing: .05em;

        &::-webkit-input-placeholder { /* Edge */
          color: rgba(0, 0, 0, .3);
          font-style: italic;
          font-size: 1em;
          letter-spacing: .05em;
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: rgba(0, 0, 0, .3);
          font-style: italic;
          font-size: 1em;
          letter-spacing: .05em;
        }
        
        &::placeholder {
          color: rgba(0, 0, 0, .3);
          font-style: italic;
          font-size: 1em;
          letter-spacing: .05em;
        }

        &:focus {
          outline: 1px solid #777;
        }
      }

      button {
        background: rgba(0, 0, 0, .2);
        width: 48px;
        font-size: 1.15em;
        color: #fff;

        &:hover {
          background: #777;
          cursor: pointer;
          transition: all ease-in .2s;
        }
      }
    }
  }
}
